h2 {
    text-align: center;
    padding: 2rem;
    background-color: darkmagenta;
    margin: 4rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}