h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    padding: 2.5rem;
    margin: 4rem;
    color: rgb(21, 21, 21);
}