h1 {
    text-align: center;
    font-size: 2,5rem;
    font-family: serif;
    font-weight: 900;
    background-color: rgb(97, 37, 97);
    padding: 2rem;
    margin: 4rem;
    color: rgb(243, 234, 234);
}