h1 {
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    font-weight: 700;
    background-color: rgb(10, 238, 246);
    color: rgb(16, 18, 18);
    padding: 2rem;
    margin: 5rem;
}