h1 {
    text-align: center;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(116, 108, 18);
    padding: 2.5rem;
    margin: 2rem;
    color: white;
}